In [8]:
## pip install --upgrade nfl_data_py

Requirement already satisfied: nfl_data_py in c:\users\wiltse family\.conda\envs\base2\lib\site-packages (0.3.0)
Collecting nfl_data_py
  Downloading nfl_data_py-0.3.1.tar.gz (16 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pandas>1 in c:\users\wiltse family\.conda\envs\base2\lib\site-packages (from nfl_data_py) (2.0.0)
Requirement already satisfied: appdirs>1 in c:\users\wiltse family\.conda\envs\base2\lib\site-packages (from nfl_data_py) (1.4.4)
Requirement already satisfied: fastparquet>0.5 in c:\users\wiltse family\.conda\envs\base2\lib\site-packages (from nfl_data_py) (2023.2.0)
Requirement already satisfied: python-snappy>0.5 in c:\users\wiltse family\.conda\envs\base2\lib\site-packages (from nfl_data_py) (0.6.1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\wiltse family\appdata\roaming\python\python38\site-packages (from fastparquet>0.5->nfl_data_py) (1.24.2)
Requirement already satisfied: fsspec in c:\users\wiltse family\.conda\envs\base2\lib\site-packages (from fastparquet>0.5->nfl_data_py) (2023.3.0)
Requirement already satisfied: cramjam>=2.3 in c:\users\wiltse family\.conda\envs\base2\lib\site-packages (from fastparquet>0.5->nfl_data_py) (2.6.2)
Requirement already satisfied: packaging in c:\users\wiltse family\.conda\envs\base2\lib\site-packages (from fastparquet>0.5->nfl_data_py) (23.0)
Requirement already satisfied: tzdata>=2022.1 in c:\users\wiltse family\.conda\envs\base2\lib\site-packages (from pandas>1->nfl_data_py) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\wiltse family\.conda\envs\base2\lib\site-packages (from pandas>1->nfl_data_py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\wiltse family\.conda\envs\base2\lib\site-packages (from pandas>1->nfl_data_py) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\wiltse family\.conda\envs\base2\lib\site-packages (from python-dateutil>=2.8.2->pandas>1->nfl_data_py) (1.16.0)
Building wheels for collected packages: nfl_data_py
  Building wheel for nfl_data_py (setup.py): started
  Building wheel for nfl_data_py (setup.py): finished with status 'done'
  Created wheel for nfl_data_py: filename=nfl_data_py-0.3.1-py3-none-any.whl size=13224 sha256=1129d12dcfc12d4a14f66905d969f39dbbcdbe2478e07b20d9d7a2ab66445ef4
  Stored in directory: c:\users\wiltse family\appdata\local\pip\cache\wheels\fe\11\b6\5bb8be8edf87539560c6ab0a33ea205b170c18ab5be747f601
Successfully built nfl_data_py
Installing collected packages: nfl_data_py
  Attempting uninstall: nfl_data_py
    Found existing installation: nfl-data-py 0.3.0
    Uninstalling nfl-data-py-0.3.0:
      Successfully uninstalled nfl-data-py-0.3.0
Successfully installed nfl_data_py-0.3.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
# import packages
import pandas as pd
import nfl_data_py as nfl

In [2]:
#Get weekly data for 2022 season
df_weekly_rosters_2022 = nfl.import_weekly_rosters([2022])

In [9]:
filtered_df = df_weekly_rosters_2022[(df_weekly_rosters_2022['player_name'] == 'Tom Brady') ]

In [10]:
display(filtered_df)

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
0,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.279
1,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.432
2,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.355
3,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.413
4,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.202
5,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.164
6,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.221
7,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.125
8,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.183
9,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.454
10,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.339
11,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.317
12,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.144
13,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.106
14,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.394
15,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.232
16,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.374
17,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.259

In [4]:
#Get weekly data for 2022 season
df_seasonal_rosters_2022 = nfl.import_seasonal_rosters([2022])

In [6]:
filtered_df = df_seasonal_rosters_2022[(df_seasonal_rosters_2022['player_name'] == 'Tom Brady') ]

In [8]:
display(filtered_df)

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
0,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.0

In [15]:
nfl_ids = nfl.import_ids()

In [16]:
display(nfl_ids)

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,...,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season
0,15702,93147c90-09c8-471d-a6b2-0b9d19739ba1,24740.0,00-0038400,NaN,9230.0,NaN,NaN,40220.0,NaN,...,23.5,2023.0,6.0,11.0,188.0,NaN,78.0,231.0,Stanford,2023
1,16148,38475bfa-9773-4c3b-9157-a0dbd576fa22,22900.0,00-0039150,NaN,9228.0,NaN,NaN,40029.0,NaN,...,22.3,2023.0,1.0,1.0,1.0,NaN,70.0,204.0,Alabama,2023
2,16149,4c8a2f7e-f982-4eca-9d52-cf53df6985a4,22987.0,00-0039152,NaN,9999.0,NaN,NaN,40068.0,NaN,...,24.4,2023.0,2.0,2.0,33.0,NaN,76.0,229.0,Kentucky,2023
3,16150,7e91086f-9ca4-4bd9-a099-b88b2f37e6c6,23071.0,00-0039163,NaN,9758.0,NaN,NaN,40030.0,NaN,...,22.1,2023.0,1.0,2.0,2.0,NaN,75.0,218.0,Ohio State,2023
4,16151,25b10007-802d-4ebb-8314-3eb7b24ddc37,24332.0,00-0038550,NaN,9998.0,NaN,NaN,40096.0,NaN,...,25.8,2023.0,3.0,5.0,68.0,NaN,75.0,220.0,Tennessee,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11377,972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
11378,978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
11379,984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
11380,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
11381,996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023

In [19]:
filtered_df = nfl_ids[(nfl_ids['nfl_id'] == 'tombrady/2504211') ]

In [20]:
display(filtered_df)

,mfl_id,sportradar_id,fantasypros_id,gsis_id,pff_id,sleeper_id,nfl_id,espn_id,yahoo_id,fleaflicker_id,...,age,draft_year,draft_round,draft_pick,draft_ovr,twitter_username,height,weight,college,db_season
8200,5848,41c44740-d0f6-44ab-8347-3b5d515e5ecf,9603.0,00-0019596,698.0,167.0,tombrady/2504211,2330.0,5228.0,309.0,...,46.3,2000.0,6.0,33.0,199.0,NaN,76.0,225.0,Michigan,2023